*.py[cod]
*.sw[op]
*.~
*.data
*.sqlite3
.DS_Store
.coverage
test.py
tmp
/bin/
/include/
/lib/
/local/
/share/
/dist/
/venv/
/env/
/packages/
/build/

*.egg-info/
*.dist-info/

*.ipynb*
/.manage.py.ipython/*/*
!ipython_config.py

*_out.xml
